.color{
    color: rgb(226, 207, 32);
}
.select{
    cursor: pointer;
}
.dark-link{
  text-decoration: none;
  color: rgb(122, 122, 119);
}
.dark-link:hover{
  color: yellow;
}
.des-color{
  color: rgb(122, 122, 119);
}

.search{
  width: 280px;
  box-sizing: border-box;
  border: 3px solid #eeea07;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search:focus {
  width: 50%;
  border: 2px solid #424240;
}